<!DOCTYPE html>

<!-- Documentação bootstrap https://getbootstrap.com/docs/5.0/layout/grid/

https://getbootstrap.com/ -->

<html>
<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto rounded border p-4 m-4">
            <h2 class="text-center mb-5"> Criar Conta</h2>

            <form method="post" enctype="multipart/form-data" th:object="${usuarioDto}">
                <div >
                    <label >Nome</label>
                    <div >
                        <input class="form-control" th:field="${usuarioDto.nome}">
                        <p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger"
                           th:errors="${usuarioDto.nome}"></p>
                    </div>
                </div>


                <div >
                    <label>Senha</label>
                    <div>
                        <input class="form-control" th:field="${usuarioDto.senha}" th:errorclass="text-danger"
                               type="password" name="senha" placeholder="digite uma senha"/>
                        <div  th:if="${#fields.hasErrors('senha')}" th:errorclass="text-danger"
                              th:errors="${usuarioDto.senha}">Erro no atributo do password</div>
                    </div>
                </div>

               

                

                
 

                <div>
                    <div>
                        <button type="submit">Confirmar</button>
                    </div>

                   
                </div>

            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
