<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="../css/catalogo.css">

</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
        </div>

        <div class="containerInfos">
            <a alt="Coleções">COLEÇÕES</a>
            <a alt="Novidades">NOVIDADES</a>
            <a alt="Modelos">MODELOS</a>
        </div>

        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="/images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="/images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>
</body>

</html>