<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="../css/catalogo.css">

</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
        </div>

        <div class="containerInfos">
            <a alt="Descontos" th:href="@{/produto/searchByAtributo(tipoCatalogo='descontos')}"
                style="text-decoration: none;">DESCONTOS</a>
            <a alt="Novidades" th:href="@{/produto/searchByAtributo(tipoCatalogo='novidades')}"
                style="text-decoration: none;">NOVIDADES</a>
            <a alt="Modelos" th:href="@{/produto/searchByAtributo(tipoCatalogo='destaques')}"
                style="text-decoration: none;">DESTAQUES</a>
        </div>

        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="/images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="/images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>


    <main class="container_total">
        <section class="informacoes">
            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('cores')">
                    Cores
                </button>
                <div id="cores" class="dropdown-content">
                    <a th:each="cor : ${cores}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='cor', valorAtributo=${cor})}"
                        th:text="${cor}"></a>
                </div>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('series')">
                    Série
                </button>
                <div id="series" class="dropdown-content">
                    <a th:each="serie : ${series}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='serie', valorAtributo=${serie})}"
                        th:text="${serie}"></a>
                </div>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('marcas')">
                    Marcas
                </button>
                <div id="marcas" class="dropdown-content">
                    <a th:each="marca : ${marcas}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='marca', valorAtributo=${marca})}"
                        th:text="${marca}"></a>
                </div>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('colecoes')">
                    Coleção
                </button>
                <div id="colecoes" class="dropdown-content">
                    <a th:each="colecao : ${colecoes}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='colecao', valorAtributo=${colecao})}"
                        th:text="${colecao}"></a>
                </div>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('estilos')">
                    Estilo
                </button>
                <div id="estilos" class="dropdown-content">
                    <a th:each="estilo : ${estilos}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='estilo', valorAtributo=${estilo})}"
                        th:text="${estilo}"></a>
                </div>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo" onclick="toggleDropdown('generos')">
                    Gênero
                </button>
                <div id="generos" class="dropdown-content">
                    <a th:each="genero : ${generos}"
                        th:href="@{/produto/searchByAtributo(tipoAtributo='genero', valorAtributo=${genero})}"
                        th:text="${genero}"></a>
                </div>
            </div>
        </section>





        <section class="catalogo">
            <div th:each="produto : ${produtos}" class="product-card">
                <a th:href="@{/produto/view/{id}(id=${produto.id})}" style="text-decoration: none;">
                    <div class="imagem_card">

                        <img class="produto_img" th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />

                    </div>
                    <div
                        style="text-align: center; color: white; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 15px; text-decoration: none;">
                        <p style="text-decoration: none;" th:text="${produto.nome}"></p>

                    </div>

                </a>

            </div>


            </div>


        </section>
    </main>
</body>

<script>
    function toggleDropdown(id) {
        let dropdown = document.getElementById(id);
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
    }

</script>

</html>