<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Lista de Produtos</title>
    <link rel="stylesheet" href="../css/catalogo.css">

</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
        </div>

        <div class="containerInfos">
            <a alt="Coleções">COLEÇÕES</a>
            <a alt="Novidades">NOVIDADES</a>
            <a alt="Modelos">MODELOS</a>
        </div>

        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="/images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="/images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>


    <main class="container_total">
        <section class="informacoes">
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Cores
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Modelos
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Marcas
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Coleção
                </button>
            </div>

            <div class="quadrado">
                <button class="buttonCatalogo">
                    Estilo
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Gênero
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Estilo
                </button>
            </div>
            <div class="quadrado">
                <button class="buttonCatalogo">
                    Série
                </button>
            </div>
        </section>


        <section class="catalogo">
            <div th:each="produto : ${produtos}" class="product-card">
                <div class="imagem_card">
                    <img class="produto_img" th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />
                </div>

            </div>

        </section>
    </main>
</body>

</html>