<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produto</title>
    <link rel="stylesheet" href="/css/visualiza.css">

</head>


<body>

    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="/images/logo.svg" alt="Logo"></a>
        </div>
        <div class="containerInfos">
            <a alt="Coleções">COLEÇÕES</a>
            <a alt="Novidades">NOVIDADES</a>
            <a alt="Modelos">MODELOS</a>
        </div>
        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="/images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="/images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>



    <main class="containerTotal">

        <section class="fotos">
            <div th:each="imagem : ${imagens}">
                <img th:src="@{'/imagens_dos_produtos/' + ${imagem}}" alt="Imagem do Produto" />
            </div>
        </section>

        <section class=" infos">
            <div style=" margin: 50px;">
                <div>
                    <div class="info_text">
                        <a class="text_mini" th:text="${produto.marca}"></a>
                        <a class="text_mini" th:text="${produto.colecao}"></a>
                    </div>
                    <div class="info_text">
                        <a class="text_mini" th:text="${produto.serie}"></a>
                    </div>

                    <div class="info_text">
                        <a class="text_central" th:text="${produto.nome}"></a>
                    </div>

                    <div style="margin-bottom: 20px; display: flex; align-items: center;">
                        <p class="text_central">R$</p>
                        <a class="text_central" th:text="${produto.preco}"></a>
                    </div>

                </div>
                <section class="maisProdutos">
                    <div th:each="produto : ${produtosMesmaSerie}">
                        <a th:href="@{'/produto/view/' + ${produto.id}}">
                            <img class="fotosProdutos" th:src="@{'/imagens_dos_produtos/' + ${produto.imagens[0]}}"
                                alt="Relógios da mesma Série" />
                        </a>
                    </div>
                </section>


                <div>
                    <div class="containerButton">
                        <a class="buttonBuy">ADICIONAR AO CARRINHO</a>
                        <a class="buttonBuy">COMPRAR</a>
                    </div>
                </div>
            </div>
        </section>

    </main>











</body>

</html>