<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section id="container_login">


        <form th:action="@{/cliente/login}" th:object="${clienteDto}" method="post">
            <div>
                <h1>Login</h1>
            </div>
            <div class="container_email">
                <h2>EMAIL</h2>
                <input type="email" name="email">
            </div>
            <div class="container_senha">
                <h2>SENHA</h2>
                <input type="password" name="senha">
            </div>
            <div th:if="${param.error != null}" class="alert alert-danger">
                <a style="color: red; font-weight: bold;">Email ou senha incorretos</a>
            </div>
            <div class="container_button">
                <button type="submit">Login</button>
            </div>
        </form>

    </section>
</body>

</html>