.cabecalho {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    justify-content: space-between;
}

.logo {
    flex: 1;
}

.containerInfos {
    display: flex;
    flex: 2;
    justify-content: center;
    gap: 100px;
}

.icons {
    width: 30px;
    height: 30px;
}

.container_buttons_search {
    display: flex;
    align-items: center;
    gap: 100px;
    flex: 1;
    justify-content: flex-end;
}

.icons {
    padding: 10px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.inputSearch {
    background-image: url(../images/search.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-origin: content-box;
    border: none;
    background-color: white;
    height: 25px;
    color: black;
    border-radius: 15px;
    text-align: center;
    padding-left: 10px;
    width: 200px;
}

.inputSearch::placeholder {
    color: black;
}

.cabecalho>.containerInfos>a {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: #00b7ff;
}

.container_total {
    display: flex;
    background-color: rgb(0, 74, 134);
    flex-direction: row;
    flex: 1;
    margin: 50px;
}

.informacoes {
    display: flex;
    background-color: rgb(24, 24, 24);
    height: auto;
    width: 300px;
    flex-direction: column;
}

.catalogo {
    display: flex;
    background-color: rgb(43, 43, 43);
    height: 800px;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;

}

.quadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: none;
    border-right: none;
    /* border-top: 2px solid white;
    border-bottom: 2px solid white; */
    margin: 5px;
}

.buttonCatalogo {

    border: none;
    background: none;
    background-color: #424242;
    flex: 1;
    padding: 20px;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: white;
}

.product-card {
    display: flex;
    background-color: #626262;
    margin: 20px;
    justify-content: center;
    height: 200px;


}

.imagem_card {}

.produto_img {
    max-width: 190px;
    max-height: 190px;
}