body {
  background-color: #8d8d8d;
}

.cabecalho {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-between;
}

.logo {
  flex: 1;
}

.containerInfos {
  display: flex;
  flex: 2;
  justify-content: center;
  gap: 100px;
}

.icons {
  width: 30px;
  height: 30px;
}

.container_buttons_search {
  display: flex;
  align-items: center;
  gap: 100px;
  flex: 1;
  justify-content: flex-end;
}

.icons {
  padding: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.inputSearch {
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-origin: content-box;
  border: none;
  background-color: white;
  height: 25px;
  color: black;
  border-radius: 15px;
  text-align: center;
  padding-left: 10px;
  width: 200px;
}

.inputSearch::placeholder {
  color: black;
}

.cabecalho>.containerInfos>a {
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-weight: 200;
}

.container_produtos {
  display: flex;
  flex: 1;
  margin: 30px;
}

.card {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 350px;
  width: 220px;
  justify-content: center;
  margin-right: 30px;
  flex-direction: column;
  border-radius: 10px;
}

.imagem_card {
  flex: 1;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  padding-top: 40px;
  background: #ffffff1f;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name_card {
  display: flex;
  justify-content: baseline;
  margin-left: 10px;
}


.nome_text {
  font-size: 20px;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
  margin: 0;

}

.moreInfo_card {
  display: flex;
  flex: 1;

}

.text {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  font-size: 20px;
}

.marca_card {
  display: flex;
  align-items: center;
  justify-content: center;
}

.info_card {
  display: flex;
  flex-direction: column;
}

.text_price {
  margin: 0;
  color: rgb(103, 103, 103);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.marca_card {
  display: flex;
  align-items: center;
}

.infos {
  display: flex;
  margin-left: 10px;
}

.marca {
  display: flex;
  margin-left: 10px;
  align-items: center;

}

.text_marca {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.serie {
  display: flex;
  margin-left: 10px;
  align-items: center;
}

.text_serie {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;
}