<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css">

    <title>Home</title>


</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="images/logo.svg" alt="Logo"></a>
        </div>

        <div class="containerInfos">
            <a alt="Coleções">COLEÇÕES</a>
            <a alt="Novidades">NOVIDADES</a>
            <a alt="Modelos">MODELOS</a>
        </div>

        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>

    <main>
        <section class="container_produtos">

            <div th:if="${produto.status != 'INATIVO' and produto.sessao == 'L1'}" th:each="produto : ${produtos}"
                class="card">
                <a th:href="@{/produto/view/{id}(id=${produto.id})}" style="text-decoration: none;">
                    <div class="imagem_card">
                        <img class="produto_img" th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />
                    </div>
                    <div>
                        <p class="nome_text" th:text="${produto.nome}"></p>
                    </div>
                    <div class="info_card">
                        <div class="marca_text">
                            <p class="textMarca" th:text="${produto.marca}"></p>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <div class="serie">
                                <p class="cardText" th:text="${produto.serie}"></p>
                            </div>
                            <div class="serie_text">
                                <p class="cardText">R$
                                <p class="cardText" th:text="${produto.preco}"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>


        <section class="segunda_linha">
            <h2 class="anuncio">COLLABS</h2>
            <h2 class="anuncio_novidades">NOVIDADES</h2>

            <div class="linha_produtos">
                <div th:each="banner : ${banners}" th:if="${banner.status != 'INATIVO' and banner.sessao == 'L2'}">
                    <a
                        th:href="@{/produto/searchByAtributo(tipoAtributo=${banner.tipoAtributo}, valorAtributo=${banner.valorAtributo})}">
                        <img class="banners" th:src="@{'/imagens_banners/' + ${banner.imagem}}"
                            th:alt="${banner.titulo}" />
                    </a>
                </div>
                <div style="display: flex;">
                    <div th:if="${produto.status != 'INATIVO' && produto.novidade}" th:each="produto : ${produtos}"
                        class="card" style="margin-top: 0;">
                        <a th:href="@{/produto/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                            <div class="imagem_card">
                                <img class="produto_img"
                                    th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />
                            </div>
                            <div>
                                <p class="nome_text" th:text="${produto.nome}"></p>
                            </div>
                            <div class="info_card">
                                <div class="marca_text">
                                    <p class="textMarca" th:text="${produto.marca}"></p>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="serie">
                                        <p class="cardText" th:text="${produto.serie}"></p>
                                    </div>
                                    <div class="serie_text">
                                        <p class="cardText">R$
                                        <p class="cardText" th:text="${produto.preco}"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>
        <div class="linha_banners">
            <img class="banners_juntos" src="banners/itzy.avif" />
            <img class="banners_juntos" src="banners/it.avif" />
        </div>

        <section class="terceira_linha">
            <h2 class="anuncio">COLLABS</h2>
            <h2 class="anuncio_novidades">EM PROMOÇÃO</h2>


            <div class="linha_produtos">
                <div th:each="banner : ${banners}" th:if="${banner.status != 'INATIVO' and banner.sessao == 'L3'}">
                    <a
                        th:href="@{/produto/searchByAtributo(tipoAtributo=${banner.tipoAtributo}, valorAtributo=${banner.valorAtributo})}">
                        <img class="banners" th:src="@{'/imagens_banners/' + ${banner.imagem}}"
                            th:alt="${banner.titulo}" />
                    </a>
                </div>



                <div style="display: flex;">

                    <div th:if="${produto.status != 'INATIVO' && produto.desconto}" th:each="produto : ${produtos}"
                        class="card" style="margin-top: 0;">
                        <a th:href="@{/produto/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                            <div class="imagem_card">
                                <img class="produto_img"
                                    th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />
                            </div>
                            <div>
                                <p class="nome_text" th:text="${produto.nome}"></p>
                            </div>
                            <div class="info_card">
                                <div class="marca_text">
                                    <p class="textMarca" th:text="${produto.marca}"></p>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="serie">
                                        <p class="cardText" th:text="${produto.serie}"></p>
                                    </div>
                                    <div class="serie_text">
                                        <p class="cardText">R$
                                        <p class="cardText" th:text="${produto.preco}"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section class="container_produtos">

            <div th:if="${produto.status != 'INATIVO'}" th:each="produto : ${produtos}" class="card">

                <a th:href="@{/produto/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                    <div class="imagem_card">
                        <img class="produto_img" th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}" />

                    </div>

                    <div>
                        <p class="nome_text" th:text="${produto.nome}"></p>

                    </div>


                    <div class="info_card">
                        <div class="marca_text">
                            <p class="textMarca" th:text="${produto.marca}"></p>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <div class="serie">
                                <p class="cardText" th:text="${produto.serie}"></p>
                            </div>
                            <div class="serie_text">
                                <p class="cardText">R$
                                <p class="cardText" th:text="${produto.preco}"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </section>

        <!-- <section class="terceira_linha">
            <div class="linha_produtos">
                <div th:each="banner : ${banners}" th:if="${banner.status != 'INATIVO' and banner.sessao == 'L4'}">
                    <a
                        th:href="@{/produto/searchByAtributo(tipoAtributo=${banner.tipoAtributo}, valorAtributo=${banner.valorAtributo})}">
                        <img class="banners" th:src="@{'/imagens_banners/' + ${banner.imagem}}"
                            th:alt="${banner.titulo}" />
                    </a>
                </div>
            </div>

        </section> -->
    </main>

</html>