<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/home.css">

    <title>Home</title>


</head>

<body>
    <header class="cabecalho">
        <div class="logo">
            <a href="/"><img src="images/logo.svg" alt="Logo"></a>
        </div>

        <div class="containerInfos">
            <a alt="Coleções">COLEÇÕES</a>
            <a alt="Novidades">NOVIDADES</a>
            <a alt="Modelos">MODELOS</a>
        </div>

        <div class="container_buttons_search">
            <input class="inputSearch" alt="campo de pesquisa" type="text" placeholder="Pesquisar...">
            <div class="buttons">
                <a href="/carrinho"><img src="images/cart.svg" class="icons" alt="home"></a>
                <a id="profile" href="/perfil"><img src="images/profile.svg" class="icons" alt="Perfil"></a>
            </div>
        </div>
    </header>

    <main>
        <section class="container_produtos">

            <div th:if="${produto.status != 'INATIVO'}" th:each="produto : ${produtos}" class="card">
                <a th:href="@{/produtos/view/{id}(id=${produto.id})}" style="text-decoration: none;">
                    <div class="imagem_card">
                        <img th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}"
                            style="max-width: 200px; max-height: 200px;" />
                    </div>
                    <div>
                        <p class="nome_text" th:text="${produto.nome}"></p>
                    </div>
                    <div class="info_card">
                        <div class="marca_text">
                            <p style="font-size: 15px; text-align: center;" th:text="${produto.marca}"></p>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <div class="serie">
                                <p style="font-size: 13px; text-align: center;" th:text="${produto.serie}"></p>
                            </div>
                            <div class="serie_text">
                                <p style="font-size: 13px; text-align: center;">R$
                                <p style=" font-size: 13px; text-align: center;" th:text="${produto.preco}"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </section>


        <section class="segunda_linha">
            <h2 class="anuncio">COLLABS</h2>
            <h2 class="anuncio" style="position: absolute; padding-left: 830px;">NOVIDADES</h2>

            <div class="linha_produtos">
                <img class="banners" src="banners/babyg.avif" />
                <div style="display: flex;">
                    <div th:if="${produto.status != 'INATIVO' && produto.novidade}" th:each="produto : ${produtos}"
                        class="card" style="margin-top: 0;">
                        <a th:href="@{/produtos/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                            <div class="imagem_card">
                                <img th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}"
                                    style="max-width: 200px; max-height: 200px;" />
                            </div>
                            <div>
                                <p class="nome_text" th:text="${produto.nome}"></p>
                            </div>
                            <div class="info_card">
                                <div class="marca_text">
                                    <p style="font-size: 15px; text-align: center;" th:text="${produto.marca}"></p>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="serie">
                                        <p style="font-size: 13px; text-align: center;" th:text="${produto.serie}"></p>
                                    </div>
                                    <div class="serie_text">
                                        <p style="font-size: 13px; text-align: center;">R$
                                        <p style=" font-size: 13px; text-align: center;" th:text="${produto.preco}"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>

        </section>
        <div class="linha_banners">
            <img class="banners_juntos" src="banners/itzy.avif" />
            <img class="banners_juntos" src="banners/it.avif" />
        </div>

        <section class="terceira_linha">
            <h2 class="anuncio">COLLABS</h2>
            <h2 class="anuncio" style="position: absolute; padding-left: 830px;">EM PROMOÇÃO</h2>


            <div class="linha_produtos">
                <img class="banners" src="banners/gmb2100.avif" />

                <div style="display: flex;">



                    <div th:if="${produto.status != 'INATIVO' && produto.desconto}" th:each="produto : ${produtos}"
                        class="card" style="margin-top: 0;">
                        <a th:href="@{/produtos/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                            <div class="imagem_card">
                                <img th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}"
                                    style="max-width: 200px; max-height: 200px;" />
                            </div>
                            <div>
                                <p class="nome_text" th:text="${produto.nome}"></p>
                            </div>
                            <div class="info_card">
                                <div class="marca_text">
                                    <p style="font-size: 15px; text-align: center;" th:text="${produto.marca}"></p>
                                </div>
                                <div style="display: flex; flex-direction: column;">
                                    <div class="serie">
                                        <p style="font-size: 13px; text-align: center;" th:text="${produto.serie}"></p>
                                    </div>
                                    <div class="serie_text">
                                        <p style="font-size: 13px; text-align: center;">R$
                                        <p style=" font-size: 13px; text-align: center;" th:text="${produto.preco}"></p>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section class="container_produtos">

            <div th:if="${produto.status != 'INATIVO'}" th:each="produto : ${produtos}" class="card">

                <a th:href="@{/produtos/view/{id}(id=${produto.id})}" style="text-decoration: none;">

                    <div class="imagem_card">
                        <img th:src="@{'/imagens_dos_produtos/' + ${produto.imagemPadrao}}"
                            style="max-width: 200px; max-height: 200px;" />

                    </div>

                    <div>
                        <p class="nome_text" th:text="${produto.nome}"></p>

                    </div>


                    <div class="info_card">
                        <div class="marca_text">
                            <p style="font-size: 15px; text-align: center;" th:text="${produto.marca}"></p>
                        </div>
                        <div style="display: flex; flex-direction: column;">
                            <div class="serie">
                                <p style="font-size: 13px; text-align: center;" th:text="${produto.serie}"></p>
                            </div>
                            <div class="serie_text">
                                <p style="font-size: 13px; text-align: center;">R$
                                <p style=" font-size: 13px; text-align: center;" th:text="${produto.preco}"></p>
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            </div>
        </section>
    </main>

</html>